@charset "utf-8";
ul.share-buttons {
    list-style: none;
    padding: 0;
}
ul.share-buttons li {
    display: inline;
}
ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
ul.share-buttons a:link {
    color: grey;
}
ul.share-buttons a:visited {
    color: grey;
}
ul.share-buttons a:hover {
    color: hotpink;
}
ul.share-buttons a:active {
    color: purple;
}
div.containerCentered {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
task-list {
    color: hotpink;
}
@font-face {
    font-display: swap;
}