<!DOCTYPE html>
<html>
    
    <!-- header -->
    {{- partial "head.html" . -}}


    <!-- Body -->
    <body>
        <div class="s-layout">
 
            <!-- Sidebar -->    
            {{- partial "sidenav.html" . -}}
            

            <!-- content -->
            <main id="s-layout-content" class="s-layout-content">
              {{ block "content" . }}
                <!-- site content/cards -->
              {{ end }}
            </main>
        
        </div>

        <!-- scripts -->
        {{- partial "scripts.html" . -}}

    </body>
</html>