/* site beauty markdown */

:root {

  /* global site vars */  
  --border-radius: 0.125em;
  --content-padding-left-right: 1em;
  --content-padding-top: 1em;
  --title-size: 3.0em;
  --title-weight: 500;
  --sidebar-anim-duration:  0.33s;
  --site-padding-top: 3em;

  /* side bar varibles */
  --sidebar-width:  32em;
  --sidebar-font-size: 1.5em;
  --sidebar-padding-left: 1.5em;

  /* card variables */
  --card-width-xlarge: 50em;
  --card-width-large: 45em;
  --card-width-medium: 30em;
  --card-width-small: 20em;
  --card-width-xsmall: 40em;
  --card-width-xxsmall: 30em;

  --card-gutter: 5em;

  /* theme vars */  
  --theme-color-00: rgb(96, 96, 96); /* side bar dark */
  --theme-color-01: rgb(47, 47, 47); /* main content bg */
  --theme-color-01a: rgb(68, 68, 68); /* card bg */
  --theme-color-01b: rgb(181, 251, 213); /* link visited */
  --theme-color-02: rgb(185, 171, 112); /* main text color */
  --theme-color-03: rgb(204, 212, 20); /* card title color */
  --theme-color-04: rgb(203, 234, 0); /* link selected */
  --theme-color-05: rgb(255, 170, 90); /* link hover */
  --theme-color-06: rgba(0,0,0,0.25); /* drop shadow color */

}


/* generic tag css ---------------------------------------------------------- */

/* unvisited link */
a:link {
  color: var(--theme-color-03);
}

/* visited link */
a:visited {
  color: var(--theme-color-01b);
}

/* mouse over link */
a:hover {
  color: var(--theme-color-05);
}

/* selected link */
a:active {
  color: var(--theme-color-04);
}



body{
   background-color: var(--theme-color-00);
}

hr{
    background-color: var(--theme-color-03);
}



ul { 
  margin: 0; 
  padding: 0em 0em 1em 2em;  
}


li {
  list-style: none;
}

/* content single ----------------------------------------------------------- */



/* sidebar nav -------------------------------------------------------------- */

.s-sidebar-nav-menu{
    background-color: red;
}

.s-sidebar-nav-li{
    font-size: var(--sidebar-font-size);
}

.s-sidebar-nav-li div{
    display: inline-block;
    color: ;
}

div#s-sidebar-nav-menu > .s-sidebar-nav-ul > .s-sidebar-nav-li{
    margin-top: 0.8em;
}

.nav-main-links-icon{
    padding-right: 0.4em;
}

.s-sidebar-nav-branding-image{
    width: 100%;
    clip-path: circle(calc(var(--sidebar-width)/2) at center);
}

.s-layout-content-header{
    display: flex;
}

.s-layout-content-header > s-layout-content-title-list{
    color: var(--theme-color-05);
    display: flex;
}

.s-layout{
    
}

.s-layout-content {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--theme-color-01);
    width: calc(100% - var(--sidebar-width));
    z-index: -1;
}

.s-layout-sidebar {
    z-index: 1001;
    width: var(--sidebar-width);
    background-color: var(--theme-color-00);
    float:left;
}


.content-header-sidebartrigger button{
    font-size: 2em;
    padding: 0.5em;
}


.sidebar-heading-fun-text{
    text-align: right;
    color: var(--theme-color-01);
    font-weight: 500;
    font-size: 1.3em;
    padding-left: var(--sidebar-padding-left);
    padding-right: var(--sidebar-padding-left);
}

.sidebar-info-blurb{
    color: var(--theme-color-02);
    font-weight: 500;
    font-size: 1.3em;
    padding-left: var(--sidebar-padding-left);
    padding-right: var(--sidebar-padding-left);
}



/* content header ----------------------------------------------------------- */
.s-layout-content-title-list{
    padding-left: var(--content-padding-left-right);
}

/* article cards css -------------------------------------------------------- */
.card{
    padding: 0rem 0rem;
    /*box-shadow: 0em 0em .5em .1em rgba(0,0,0,.125);*/
    border-radius: var(--border-radius);
    background: var(--theme-color-01);
    border-style: solid;
    border-width: .1em;
    border-color: var(--theme-color-00);
}

.card:hover{
    filter: drop-shadow(.5em .5em .5em var(--theme-color-06));
}


.card-content{
    padding: 1rem 1rem; 
    color: var(--theme-color-02);
}


.card-thumbnail{
    margin: 0px;
}

.card-image{
    width: calc(100% - 2px);
    max-height: 100%;
    height: auto;
    border-radius: var(--border-radius);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-1px);
}

.card-title{
    font-size: 1.6em;
    font-weight: 500;
    color: var(--theme-color-03);
    padding-bottom: .5em;
}

.card-date{
    padding-left: 1em;
    font-weight: 700;
    color: var(--theme-color-05);
}

.card-summary{
    padding-left: 1em;
    padding-top: .5em;
    color: var(--theme-color-02);
}


.content-title, .sidebar-title{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--theme-color-02);
    padding-bottom: .75em;
}

.sidebar-title{
    padding-left: var(--sidebar-padding-left);
}

.footer{
    color: var(--theme-color-02);   
}

.content-header-sidebartrigger{
    color: var(--theme-color-04);
    cursor: pointer;
}


.content-header-sidebartrigger:hover{
    color: var(--theme-color-05);
}

.content-header-sidebartrigger:active{
    color: red;
}

.content-header-sidebartrigger:active:after{
    color: blue;
}



/* responsive web ----------------------------------------------------------- */



/* LARGE SCREENS: On screens that are 1140px wide or more */
@media screen and (min-width: 1145px){
    .s-layout-content-header{
       /* background-color: red; /* breakpoint test color */
    }

    /* card width */
    .mason_grid_container div {
        width: var(--card-width-large);
    }

    /* hide menu hamburger */
    .content-header-sidebartrigger{
        display: none;
    }

    /* content to right of the sidebar */
    .s-layout-content {
        transform: translateX(var(--sidebar-width));
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    .s-layout-sidebar{
        transform: translateX(0);
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
        margin: 0;
    }

    .content-title-branding{
        display: none;
    }

}

/* MED SCREENS: On screens that are 900px <-> 1140px wide */
@media screen and (min-width: 900px) and (max-width: 1144px){
    .s-layout-content-header{
        /* background-color: green; /* breakpoint test color */
    }

    /* card width */
    .mason_grid_container div {
        width: var(--card-width-medium);
    }

    /* hide menue hamburger */
    .content-header-sidebartrigger{
        display: none;
    }

    /* content to right of the sidebar */
    .s-layout-content {
        transform: translateX(var(--sidebar-width));
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    .s-layout-sidebar{
        transform: translateX(0);
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    .content-title-branding{
        display: none;
    }

}


/* SMALL SCREENS: On screens that are 600px <-> 900px wide */
@media screen and (min-width: 600px) and (max-width: 899px){
    .s-layout-content-header{
        /* background-color: blue; /* breakpoint test color */
    }

    /* card width */
    .mason_grid_container div {
        width: var(--card-width-small);
    }

    /* move sidebar offscreen */
    .s-layout-sidebar{
        transform: translateX(calc(var(--sidebar-width)*-1.0));
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    /* make content full screen */
    .s-layout-content {
        width: 100%;
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    .sidebar-title-branding{
        display: none;
    }

}

/* XSMALL SCREENS: On screens that are 600px wide or less */
@media screen and (max-width: 599px){
    .s-layout-content-header{
        /* background-color: rgb(128,128,0); /* breakpoint test color */
    }

    /* card width */
    .mason_grid_container div {
        width: var(--card-width-xsmall);
    }

    /* move sidebar offscreen */
    .s-layout-sidebar{
        transform: translateX(calc(var(--sidebar-width)*-1.0));
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    /* make content full screen */
    .s-layout-content {
        width: 100%;
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    /* image left of text */
    
    .card-thumbnail{
        float: left;
        margin: 0px;
        padding-right: 1em;
        padding-right: 1em;
    }
    
 
    /* image full height of card */
    .card-image{
        max-width: 200px;
        display: inline;
        transform: translateX(0px);
    }
  
    .sidebar-title-branding{
        display: none;
    }

}


/* XXSMALL SCREENS: On screens that are 600px wide or less */
@media screen and (max-width: 400px){
    .s-layout-content-header{
        /* background-color: rgb(0,128,128); /* breakpoint test color */
    }

    /* card width */
    .mason_grid_container div {
        width: var(--card-width-xxsmall);
    }

    /* move sidebar offscreen */
    .s-layout-sidebar{
        transform: translateX(calc(var(--sidebar-width)*-1.0));
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    /* make content full screen */
    .s-layout-content {
        width: 100%;
        transition-property: transform;
        transition-duration: var(--sidebar-anim-duration);
        transition-delay: 0s;
    }

    /* image left of text */
    
    .card-thumbnail{
        float: left;
        margin: 0px;
        padding-right: 1em;
        padding-right: 1em;
    }
    
 
    /* image full height of card */
    .card-image{
        max-width: 125px;
        display: inline;
        transform: translateX(0px);
    }
  
    .sidebar-title-branding{
        display: none;
    }

}


/* expand side bar */
/* this class is added dynamically via sidebar-menu.js */ 
.s-layout-sidebar.sidebar-active{
    transform: translateX(0);
    transition-property: transform;
    transition-duration: var(--sidebar-anim-duration);
    transition-delay: 0s;
}

.s-layout-content.sidebar-active{
    transform: translateX(var(--sidebar-width));
    transition-property: transform;
    transition-duration: var(--sidebar-anim-duration);
    transition-delay: 0s;
}

