<!-- sidebar menu work-->
<!-- <ul class="sidebar-menu"> -->
<ul class="sidebar-menu">
  {{ $currentPage := . }}
  {{ range .Site.Menus.work }}
    <li class="sidebar-menu-base">{{ .Name }} <!-- menu work name -->
      <ul class="sub">
        {{ range .Children }}
        <li>{{ .Name }} <!-- menu year name -->
          {{ if .HasChildren }}
            <ul class="sub">
              {{ range .Children }}
                <li {{if $currentPage.IsMenuCurrent "work" . }} class="active"{{end}}><a href="{{ .URL }}">{{ .Name }}</a></li> <!-- year item -->
              {{ end }}
            </ul>
          {{end}}
        </li>
        {{ end }}
      </ul>
    </li>
  {{end}}
</ul>
<!-- sidebar menu work end-->
