
<div class="mason_grid_container">
{{ $counter := 0 }}
{{ range .Site.Pages.ByWeight }}
    {{ if or ( eq .Type "stuff") ( eq .Type "work") }}    
        {{ $counter = add $counter 1 }}
    
        <div class="card item{{ $counter }}">
            <div class="card-row">
                <figure class="card-thumbnail">
                    {{ if and (isset .Params "image") .Params.image }}
                        <a href="{{ .Permalink }}">
                            {{ $src := .Params.image }}
                            
                            {{ $file := (printf "/static/%s.quantized" $src) }}

                            {{ $file_image_res := (printf "/static/%s.res" $src)}}
                            {{ $file_contents := readFile $file_image_res }}
                            {{ $res := split $file_contents "x" }}
                            {{ $res_x := index $res 0 }}
                            {{ $res_y := index $res 1 }}

                            <img class="b-lazy img-responsive card-image" src="data:image/gif;base64,{{readFile $file}}" data-src="{{ $src }}" alt="..." width="{{$res_x}}" height="{{$res_y}}"/>
                        </a>
                    {{end}}
                </figure>
                <div class="card-content">
                    <header class="card-title">
                         <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </header>
                    <date class="card-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</date>
                    <summary class="card-summary">
                        {{ if gt (len .Summary) 150 }}
                          <p>{{slicestr .Summary 0 150}} <a href="{{ .Permalink }}">... Read More</a></p>
                        {{ else }}
                          <p>{{ .Summary }}</p>
                        {{ end }}
                    </summary>
                </div>
            </div>
        </div>

    {{ end }}
  {{ end }}
</div>


