<!-- basic meta stuff -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<!-- chota.css lite css framework-->
<link rel="stylesheet" href="{{ "css/chota.css" | absURL }}">

<!-- site css -->
<link rel="stylesheet" href="{{ "css/portfolio_lite.css" | absURL }}">

<!-- Site title -->
{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}
	{{ $title = .Site.Title }}
{{ end }}
<title>{{ $title }}</title>