<div class="s-layout-sidebar">

   <nav class="s-sidebar-nav">


      <!-- branding -->
      <em class="sidebar-title">
         <em class="sidebar-title-branding"><a href="/">SANTOROLAND</a></em>
      </em>
      <div id="s-sidebar-nav-branding">
            <img class="s-sidebar-nav-branding-image" src="/img/sidebar_branding.jpg">
      </div>

       <!-- navigation menu items -->
       <div id="s-sidebar-nav-menu">
            <ul class="s-sidebar-nav-ul">

               <!-- Home (static link) -->
               <li class="s-sidebar-nav-li">
                  <a class="s-sidebar-nav-link" href="/">
                  <div class="nav-main-links-icon"><i class="fas fa-home"></i></div>
                  Home
                  </a>
               </li>

               <!-- About (static link) -->
               <li class="s-sidebar-nav-li">
                  <a class="s-sidebar-nav-link" href="#0">
                  <div class="nav-main-links-icon"><i class="fas fa-info-circle"></i></div>
                  About
                  </a>
               </li>

               <!-- Get In Touch (static link) -->
               <li class="s-sidebar-nav-li">
                  <a class="s-sidebar-nav-link" href="#0">
                  <div class="nav-main-links-icon"><i class="far fa-envelope"></i></div>
                  Get In Touch
                  </a>
               </li>

               <!-- navigation work (dynamic items) -->
               <li class="s-sidebar-nav-li">
                  <a class="s-sidebar-nav-link" href="#0">
                  <div class="nav-main-links-icon"><i class="fas fa-sitemap"></i></div>
                  Work
                  </a>
                  <!-- work menu start-->
                  <ul>
                     {{ $currentPage := . }}
                     {{ range .Site.Menus.work.Sort.Reverse }}
                        {{ if .HasChildren }}
                           <li>
                              <a class="s-sidebar-nav-link" href="">
                                 {{ .Pre }}
                                 {{ .Name }}
                              </a>
                              <ul>
                                 {{ range .Children }}
                                    <li {{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>
                                       <a class="s-sidebar-nav-link" href="{{.URL}}">{{ .Name }}</a>
                                    </li>
                                 {{ end }}
                              </ul>
                        {{ end }}
                     {{end}}
                  </ul>
                  <!-- sidebar menu end-->
               </li>

               <!-- Love The Random (dynamic items) -->
               <li class="s-sidebar-nav-li">
                  <a class="s-sidebar-nav-link" href="#0">
                  <div class="nav-main-links-icon"><i class="fas fa-sitemap"></i></div>
                  Love The Random
                  </a>
               </li>
            </ul>
       </div>







       <!-- navigation footer -->
       <div class="s-sidebar__nav-footer">
           <div class="s-sidebar__nav-footer-copywrite-date">©{{ now.Format "2006"}}</div> <div class="s-sidebar__nav-footer-copywrite-author">{{ .Site.Author.name }}</div>
       </div>


   </nav>
</div>