<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobileNavToggle.html" . }}
  <h1>: Home</h1>
    <div class="grid">
        <div class="row">
          {{ range .Site.Pages.ByWeight }}
            {{ if or ( eq .Type "stuff") ( eq .Type "work") }}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 masonry-item">
                    <div class="box-masonry">
                        {{ if and (isset .Params "image") .Params.image }}
                          {{ if eq .Params.showonlyimage true }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                          {{ else }}
                          <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                          {{ end }}
                            {{ $src := .Params.image }}
                            {{ $config := imageConfig (printf "/static/%s" $src) }}
                            {{ $file := (printf "/static/%s.quantized" .Params.image) }}
                              <img class="b-lazy img-responsive" src="data:image/gif;base64,{{readFile $file}}" data-src="{{ .Params.image }}" alt="..." width="{{$config.Width}}" height="{{$config.Height}}"/>
                          </a>
                        {{ end }}
                        {{ if eq .Params.showonlyimage true }}
                        <div class="box-masonry-hover-text-header">
                        {{ else }}
                        <div class="box-masonry-text">
                        {{ end }}
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <div class="box-masonry-desription">
                                <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
                                {{ if gt (len .Summary) 150 }}
                                  <p>{{slicestr .Summary 0 150}} <a href="{{ .Permalink }}">... Read More</a></p>
                                {{ else }}
                                  <p>{{ .Summary }}</p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
          {{ end }}
        </div>
    </div>
</div>
